*{
    box-sizing: border-box;
    background: fixed;
}
:root{
    --white : #FFF;
    --gradient1 : #CC4929;
    --gradient2 : #FF416C;
    --black : #000;
    --borderColor: #FF4B2B;
    --bgColor : #dce9eb;
    --headbg: bisque;
    --buttonbg:aquamarine;
    --accent: #04da97;
    --radiobtn: rgb(56, 55, 55);
}
h1{
    font-weight: bold;
    margin: 0;
}
p{
    font-size: 14px;
    font-weight : 100;
    line-height : 20px;
    letter-spacing: 0.5px;
}
button {
    background: fixed;
    border-radius: 20px;
    border:none;
    background-color: var(--borderColor);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
button:hover{
    border-radius: 20px;
    color: var(--gradient1);
    background-color: var(--radiobtn);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

